*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
}

:root {
  /* color parameters */
  --clr-dark: 240 3% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-light-text: 204, 7%, 85%;
  --clr-correct : 115 29% 43%;
  --clr-present : 49 51% 47%;
  --vh: 1vh;

  --color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;

  --thickness: 2px; 
  --border-radius: 10px;
}

body {
    /* background-image: linear-gradient(to right, #130F40, #000000); */
    /* background-size: 100vw 100vh; */
    /* background-position: bottom center;
    background-repeat: no-repeat;
    color: hsl(var(--clr-dark));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 0;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem); */
    /* transition: background-color 5s ease; */
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}

.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: linear-gradient(40deg, var(--color-bg1), var(--color-bg2));
  top: 0;
  left: 0;
}

.gradient-bg > svg {
  /* display: none; */
  position: fixed;
  top:0;
  left:0;
  width: 0;
  height: 0;
}

.gradient-container {
  width: 100%;
  height: 100%;
  filter: url(#goo) blur(40px) ;
}

.g {
  --color: var(--color1);
  position: absolute;
  background: radial-gradient(circle at center, rgba(var(--color), 0.8) 0, rgba(var(--color), 0) 50%) no-repeat;
  mix-blend-mode: var(--blending);
  width: var(--circle-size);
  height: var(--circle-size);
  opacity: 1;
}

.g1 {
  --color: var(--color1);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: center center;
  animation: moveVertical 30s ease infinite;
}

.g2 {
  --color: var(--color2);
  top: calc(50% - var(--circle-size) / 2);
  left: calc(50% - var(--circle-size) / 2);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.g3 {
  --color: var(--color3);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  --color: var(--color4);
  top: calc(50% - var(--circle-size) / 2 + 200px);
  left: calc(50% - var(--circle-size) / 2 - 500px);
  opacity: 0.7;
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
}

.g5 {
  --color: var(--color5);
  width: calc(var(--circle-size) * 2);
  height: calc(var(--circle-size) * 2);
  top: calc(50% - var(--circle-size));
  left: calc(50% - var(--circle-size));
  transform-origin: calc(50% - 800px) calc(50% + 200px);
  animation: moveInCircle 20s reverse infinite;
}

.interactive {
  --color: var(--color-interactive);
  width: 100%;
  height: 100%;
  top: -50%;
  left: -50%;
  opacity: 0.7;
}

.main {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.header {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(var(--clr-white) / 0.3);
    text-align: center;
    width: 80vw;
    max-width: 600px; 
}

.title {
  color: hsla(var(--clr-white) / 0.8);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(2rem, 4vmin, 4rem);
  padding: 0 4rem 0 4rem;
  letter-spacing: 0.2rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.tiles {
    display: grid;
    grid-template-columns: repeat(3, minmax(7rem, 7vw));
    /* grid-template-columns: repeat(3) */
    grid-auto-rows: minmax(7rem, 7vw);
    gap: 0.35em;
    justify-content: center;
    align-content: center;
    flex: 1;
    padding: 1.5rem;
    max-width: 80vw;
  }
  
/* @media only screen and (max-width: 600px) {
  .tiles {
    gap: 0.5em;
  }
} */
    
.tile {
  background-color: rgba(255,255,255,0.03);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: relative;
  border-radius: var(--border-radius);
  color: hsl(var(--clr-light-text));
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.tile:hover {
  transform:scale(1.05)
}
  
/* @media only screen and (max-width: 600px) {
  .tile {
      font-size: clamp(0.5em, 5vmin, 2em);
      }
  } */

.backdrop {
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  right: 0;
  bottom: 0;
  left: -50%;
  backdrop-filter: blur(16px);
  mask-image: url(#frostyGlassMask);
  pointer-events: none;
  z-index: -1;
}

.svg-mask {
  position: absolute;
  width: 200%;
  height: 200%;
  pointer-events: none;
}

.backdrop-edge {
  position: absolute;
  height: 200%;
  width: 200%;
  top: -50%;
  right: 0;
  bottom: 0;
  left: -50%;
  background: hsl(0deg 0% 100% / 0.1);
  backdrop-filter: blur(8px) brightness(150%);
  pointer-events: none;

  /* Create 4 border strips + 4 corner pieces */
  mask-image: 
    linear-gradient(black, black), /* top border */
    linear-gradient(black, black), /* bottom border */
    linear-gradient(black, black), /* left border */
    linear-gradient(black, black), /* right border */
    radial-gradient(circle at top left, transparent 0, transparent var(--border-radius), black var(--border-radius), black calc(var(--border-radius) + var(--thickness)), transparent calc(var(--border-radius) + var(--thickness))), /* top-left corner */
    radial-gradient(circle at top right, transparent 0, transparent var(--border-radius), black var(--border-radius), black calc(var(--border-radius) + var(--thickness)), transparent calc(var(--border-radius) + var(--thickness))), /* top-right corner */
    radial-gradient(circle at bottom left, transparent 0, transparent var(--border-radius), black var(--border-radius), black calc(var(--border-radius) + var(--thickness)), transparent calc(var(--border-radius) + var(--thickness))), /* bottom-left corner */
    radial-gradient(circle at bottom right, transparent 0, transparent var(--border-radius), black var(--border-radius), black calc(var(--border-radius) + var(--thickness)), transparent calc(var(--border-radius) + var(--thickness))); /* bottom-right corner */
  
  mask-size:
    calc(50% - var(--border-radius) * 2) var(--thickness),  /* wide, tall. top border (shortened for corners) */
    calc(50% - var(--border-radius) * 2) var(--thickness),  /* bottom border */
    var(--thickness) calc(50% - var(--border-radius) * 2),  /* left border */
    var(--thickness) calc(50% - var(--border-radius) * 2),  /* right border */
    calc(var(--border-radius) + var(--thickness)) calc(var(--border-radius) + var(--thickness)),             /* bottom-right corner */
    calc(var(--border-radius) + var(--thickness)) calc(var(--border-radius) + var(--thickness)),             /* bottom-left corner */
    calc(var(--border-radius) + var(--thickness)) calc(var(--border-radius) + var(--thickness)),             /* top-right corner */
    calc(var(--border-radius) + var(--thickness)) calc(var(--border-radius) + var(--thickness));             /* top-left corner */
  
  mask-position:
    50% 25%,  /* top border */
    50% 75%,  /* bottom border */
    25% 50%,  /* left border */
    75% 50%,  /* right border */

    calc(75% - var(--border-radius) / 4) calc(75% - var(--border-radius) / 4), /* bottom-right corner */
    calc(25% + var(--border-radius) / 4) calc(75% - var(--border-radius) / 4), /* bottom-left corner */
    calc(75% - var(--border-radius) / 4) calc(25% + var(--border-radius) / 4), /* top-right corner */
    calc(25% + var(--border-radius) / 4) calc(25% + var(--border-radius) / 4); /* top-left corner */

  mask-repeat: no-repeat;
}
  
.tile-title {
    
}

.tile-imgContainer {

}

.tile-img {
  max-width: 100%;
  height: auto;
  display: block;
}

.tile-footer {
  
}

footer {
    color: hsla(var(--clr-white) / 0.4);
    font-size: clamp(0.5rem, 1.4vmin, 0.8rem);
    position: fixed;
    bottom: 0.7rem;
  }
  
footer > a {
  text-decoration: none;
  color: hsla(var(--clr-white) / 0.4);
}

.alert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  gap: 0.5rem;
  z-index: 200;
}

  .alert {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsla(var(--clr-white) / 0.86);
    color: hsl(var(--clr-dark));
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    opacity: 1;
    transition: opacity 250ms ease-out;
  }

  .alert.hide {
    opacity: 0;
  }

  #version-modal > .modal-container {
    width: 35rem;
    padding: 4.5rem 1rem 4.5rem 1rem;
  }

  @media only screen and (max-width: 600px) {
    #version-modal > .modal-container {
        padding: 2.5rem 1rem 2.5rem 1rem;
    }
  }

  .modal {
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;
    z-index: 100;
  }

  .modal.hide {
    opacity: 0;
    pointer-events: none;
  }

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: hsl(var(--clr-light-text));
    width: 400px;
    max-width: 80vw;
    position: relative;
    background: hsl(var(--clr-dark));
    border-radius: 0.5rem;
    padding: 1rem;
  }

  .modal-exit {
    fill: hsl(var(--clr-light-text));
    position: absolute;
    top: 0.6rem;
    right: 0.6rem;
    cursor: pointer;
  }

  .modal-title {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: clamp(0.7rem, 5.2vmin, 1rem);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}