*, *::after, *::before {
    box-sizing: border-box;
    font-family: Arial;
    margin: 0;
}

:root {
  /* color parameters */
  --clr-dark: 240 3% 7%;
  --clr-light: 231 77% 90%;
  --clr-white: 0 0% 100%;
  --clr-light-text: 204, 7%, 85%;
  --clr-correct : 115 29% 43%;
  --clr-present : 49 51% 47%;

  --vh: 1vh;
  --border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    width: 100vw;
    padding: 0;
    font-size: clamp(.5rem, 2.5vmin, 1.5rem); */
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  align-items: center;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid hsla(var(--clr-white) / 0.3);
    text-align: center;
    width: 80vw;
    max-width: 600px; 
    min-height: 50px;
}

.title {
  color: hsla(var(--clr-white) / 0.8);
  text-transform: uppercase;
  font-weight: 700;
  font-size: clamp(2rem, 4vmin, 4rem);
  padding: 0 4rem 0 4rem;
  letter-spacing: 0.2rem;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

#content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

footer {
  color: hsla(var(--clr-white) / 0.4);
  font-size: clamp(0.5rem, 1.4vmin, 0.8rem);
  position: fixed;
  bottom: 0.7rem;
}
  
footer > a {
  text-decoration: none;
  color: hsla(var(--clr-white) / 0.4);
}

